<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title><%-title%></title>
    <link href="../plugins/site/1.1/release/framework.min.css" rel="stylesheet" type="text/css" />
	<link href="../plugins/site/site.css" rel="stylesheet" type="text/css" />		
	<link rel="stylesheet" href="../plugins/asyncBox/skins/Chrome/asyncbox.css" />
    <style type="text/css">
		.w_content{margin-top:0}
		.w_paragraph{line-height:30px;}	
		.spnNav{padding:5px 0px;background-color:#F0F0F0;width:80px;display:inline-block;text-align:center;}
		.txtSearch{height:30px;width:180px;color:#969696;margin-right:5px;line-height:30px;padding-left:5px;}
		.barTitle{font-size:15px;color:#0f0f0f;font-weight:bold;}
		.barTitle2{font-size:13px;color:#0f0f0f;padding-top:5px;}
		.block{width:160px;height:60px;overflow:hidden;}
		.blockTitle{display:block;color:#0069c3;font-size:14px;padding:0 5px;}
		.blockBody{display:block;color:#969696;font-size:13px;line-height:20px;padding:5px;border-right:0px solid #DFE0E1;border-left:0px solid #DFE0E1;}
		#divCan a{text-decoration:none;margin-right:-1px;padding-top:12px;}
		a:hover{background-color:#ebf5ff;}
		a:hover .blockTitle{color:#ff8700;text-decoration:underline;}
		a:hover .blockBody{color:#373737}
		
		#divImgLinks{height:70px;background-color:#F0F0F0;}
		#divImgLinks img{margin:0 2px;cursor:pointer;}
		hr{border:none;color:#EBEBEB;height:1px;margin-bottom:10px;}
		#divContactBar{height:40px;background-color:#F0F0F0;}
		a.u_iconBack{margin-left:20px;}
		.aboutus{padding-bottom:5px;}
		.aboutus a{background-color:#373737;color:#dcdcdc;font-size:13px;padding:0 10px;text-decoration:none;}
		.aboutus a:hover{color:#fff;}
		#listIcon img{margin:0 5px;cursor:pointer;}
		
		.tdAddr{width:230px;text-align:left;padding-top:10px;}
		.tdAddr div{font-size:14px;line-height:20px;}	
		#oldpage:hover{color:#fff;}		
	</style>
</head>
<body scroll="no">
<div class="w_wrapper1" style="min-width:980px;">	
	<div class="w_header">
	</div>
	<div class="w_content">	
		<div class="w_layoutB_180"> 
			<div class="w_leftFix" style="background:#373737;"> 
				<div class="u_navLeftA" style="width:175px;" id="favcmd"> 
					<ul>     
						<li class="w_sect">菜单列表</li>
							<li><a href="node">节点管理</a></li>
							<li><a href="users">用户管理</a></li>
							<li><a href="imgs">图标管理</a></li>
							<li><a href="/">首页</a></li>
							<li><a href="###">权限管理</a></li>
							<li><a href="###">数据库管理</a></li>
							<li><a href="###">日常管理</a></li>
							<li><a href="###">外挂管理</a></li>
							<li><a href="###">工具管理</a></li>
							<li><a href="###">信托综合统计</a></li>
							<li><a href="###">基金</a></li>
							<li><a href="###">基金比较</a></li>
							<li><a href="###">基金筛选</a></li>
							<li><a href="###">银行理财产品大全</a></li>
							<li><a href="###">券商资管综合统计</a></li>
							<li><a href="logout">退出</a></li>
					</ul> 
				</div>
				<div id="divManager">
				</div>
			</div> 
			<div class="w_fluid"> 
				<div class="w_block" id="main">					
					<div class="u_ply u_clear">
						<iframe src="" frameborder="0" id="ifm" name="ifm" style="border:0;width:100%;height:100%;"></iframe>					
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="w_footer">
	</div>
</div>
<script src="../plugins/jquery-1.3.2.js" type="text/javascript"></script>
<script src="../plugins/site/site.js" type="text/javascript"></script>
<script src="../plugins/calendar/calendar.js" type="text/javascript"></script>
<script type="text/javascript" src="../plugins/asyncBox/asyncbox.js"></script>
<script type="text/javascript">
$(function(){
	$('#favcmd a').click(function(){
		var url=$(this).attr('href');
		if(url!='logout'){
			if(url!='###'){
				$('#ifm').attr('src',url);
			}	
			return false;		
		}
	});
	$('#favcmd a:eq(1)').click();
	function resize(){
		var h=$(window).height()-8;
		$('#ifm').height(h);
		$('#favcmd').height(h);
	}
	$(window).resize(resize).resize();
});


</script>
</body>
</html>